/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/.php-ini
/public/.php-version
/public/.htaccess
/public/vpcr_config.php
/public/vpcr/resources/*
/storage/*.key
/storage/logs
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
Thumbs.db
composer.phar