
Options -MultiViews
RewriteEngine On

DirectoryIndex index.htm index.php index.php3
RewriteCond %{HTTP_HOST} ^sepd.es [NC]
RewriteRule ^(.*)$ http://www.sepd.es/$1 [L,R=301]

Options -Indexes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ redirect.php?url=$1 [QSA,L]
