// Variables
@import "variables";

////////////////////////////////////////////////////////////////////////
// CSS de elementos específicos de proyectos CID
////////////////////////////////////////////////////////////////////////

.bg-diseno {
    // background-color: $color-diseno;
    background-color: $color-cid;
}
.bg-reclutamiento {
    // background-color: $color-reclutamiento;
    background-color: $color-cid;
}
.bg-analisis {
    // background-color: $color-analisis;
    background-color: $color-cid;
}
.bg-difusion {
    // background-color: $color-difusion;
    background-color: $color-cid;
}